.btn-circle {
	border-radius: 50%;
	padding: 6px;
	outline: none !important;	
}

.iot-serial-outputbox {
    min-height: 27%;
    max-height: 150px;
    max-width: 20%;
    overflow-y: scroll;
    bottom: 20px;
    right: 20px;
    left: 20px;
    top: 140px;
    height: auto;
    min-width: 480px;
    background-color: #fcfcfc;
    display: block;
    padding: 10px;
    margin: 10px 10px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
  
.ct-panel-heading {
	background: rgba(0, 0, 0, 0) linear-gradient(0deg, rgb(30, 50, 230) 30%, rgb(90, 140, 250) 70%) repeat scroll 0 0;
	color: #fff;
}


.lightShadow {
	-moz-box-shadow: 3px 3px 3px rgba(50,50,50,0.28);
	-webkit-box-shadow: 3px 3px 3px rgba(50,50,50,0.28);
	box-shadow: 3px 3px 3px rgba(50,50,50,0.28);
}

.darkShadow {
	-moz-box-shadow: 0 5px 15px rgba(50,50,50,0.28);
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}


.heading-shadow {
	text-shadow: 1px 0 3px rgba(0,0,0, .4);
}

.zeroPadding {
	padding : 0 !important;
}

.zeroMargin {
	margin : 0 !important;
}

.width100 {
	width: 100% !important;
}

.width-auto {
	width: auto !important;
}

.height-auto {
	height: auto !important;
}

.ct-sz-large {
	width: 320px !important;
}

.ct-sz-medium {
	width: 240px !important;
}

.ct-sz-small {
	width: 160px !important;
}

.ct-sz-mini {
	width: 120px !important;
}

.ct-sz-x-mini {
	width: 80px !important;
}

.ct-sz-xx-mini {
	width: 40px !important;
}

.ct-sz-x-large {
	width: 400px !important;
}

.ct-sz-xx-large {

}

.x-mini-padding {
	padding: 0 2px !important;
}

.small-padding {
	padding: 0 4px !important;
}

.leftPad0 {
	padding-left: 0 !important;
}

.right-rounded-border {
	-webkit-border-radius: 0 15px 15px 0 !important; 
	-moz-border-radius: 0 15px 15px 0 !important;
	border-radius: 0 15px 15px 0 !important;
}

.left-rounded-border {
	-webkit-border-radius: 15px 0 0 15px !important;
	-moz-border-radius: 15px 0 0 15px !important;
	border-radius: 15px 0 0 15px !important;
}

.both-rounded-border {
	-webkit-border-radius: 15px !important;
	-moz-border-radius: 15px !important;
	border-radius: 15px !important;
}

.hand-pointer {
	cursor: pointer !important;
}

.table-row-hover {
    color:  blue ;
 }
 
 .table-row-highlight {
     background-color: green;
 }
 

/* not used currently by Ramana 
.table-text-right {
    text-align: right !important;
}

.table-text-left {
    text-align: left !important;
}

.table-text-center { 
    text-align: center !important;
}
*/

th.seqNoCol {
	width: 20px;
	text-align: center !important;	
}

th.editBtnCol, th.deleteBtnCol {
	width: 90px;
	text-align: center !important;
}

th.thCenter {
	text-align: center !important;
}

th.thRight {
	text-align: right !important;
}

th.thLeft {
	text-align: right !important;
}

table#generalSearchTable td {
	text-align: center !important;
}

th.seqNoCol, th.thCenter, th.thRight, th.thLeft, th.editBtnCol, th.deleteBtnCol {
	/* Below code generated by ==> http://www.colorzilla.com/gradient-editor/ */
	
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(129,165,196,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(129,165,196,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 0%,rgba(129,165,196,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 0%,rgba(129,165,196,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 0%,rgba(129,165,196,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 0%,rgba(129,165,196,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#81a5c4',GradientType=0 ); /* IE6-9 */		
}

.tableHeaderRow {
	height: 20px;	
}

/* the below two styles the-legend and the-fieldset are from 
  http://stackoverflow.com/questions/12167848/bootstrap-adding-legend-to-well
*/
.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
}
.the-fieldset {
    border: 2px groove #444;
    -webkit-box-shadow:  0 0 0 0 #000;
            box-shadow:  0 0 0 0 #000;
}

.spin {
	-webkit-animation: spin 1.8s infinite linear;
	-moz-animation: spin 1.8s infinite linear;
	-o-animation: spin 1.8s infinite linear;
	animation: spin 1.8s infinite linear;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%; /* IE 9 */
}


@-moz-keyframes spin {
	from { 
		-moz-transform:rotate(0deg);
	} to {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	from { transform:rotate(0deg);}
	to {transform: rotate(360deg);}
}

.spinner {
	display: inline-block;
	opacity: 0;
	max-width: 0;
	-webkit-transition: opacity 0.25s, max-width 0.45s;
	-moz-transition: opacity 0.25s, max-width 0.45s;
	-o-transition: opacity 0.25s, max-width 0.45s;
	transition: opacity 0.25s, max-width 0.45s;
	/* Duration fixed since we animate additional hidden width */
}

.has-spinner.active {
	cursor: progress;
}

.has-spinner.active .spinner {
	opacity: 1;
	max-width: 50px;
	/* More than it will ever come, notice that this affects on animation duration */
}

.reqSup {
	opacity: 0;
	color: red;
	padding: 0 4px;
}

label.required .reqSup {
	opacity: 1;
	-webkit-transition: opacity 0.25s, max-width 0.45s;
	-moz-transition: opacity 0.25s, max-width 0.45s;
	-o-transition: opacity 0.25s, max-width 0.45s;
	transition: opacity 0.25s, max-width 0.45s;
}

.moveImg {
	width:20px;
    height:20px;
    background-image: url('/img/drag.png');
    background-repeat:no-repeat;background-size:20px 20px;
    background-position: center;
}

.td-center {
    vertical-align: middle !important; 
    text-align: center !important;
}

.drop-zone-highlight-marker {
	border: 1px dotted black !important;
}

.checkboxWrapper {
	/* this is used to wrapping a checkbox in a td */
	width: 100% !important;
	height: 100% !important;
	margin : 0 !important;
	padding : 0 !important;
}

.dropdown-menu > li {
	text-align: left !important;
}

/* c tag is for wrapping code in Question Text */
/*noinspection CssInvalidHtmlTagReference*/
c {
  padding: 0 4px;
  font-size: 90%;
  color: #3F50FF;
  white-space: nowrap;
  background-color: #CCFCF3;
  background-color: rgba(204, 252, 243, 0.41);
  border-radius: 4px;
  border: 1px solid lightblue;
}
/*noinspection CssInvalidHtmlTagReference*/
c {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
/*noinspection CssInvalidHtmlTagReference*/
c {
  font-family: monospace, serif;
  font-size: 1em;
}
/*noinspection CssInvalidHtmlTagReference*/
c {
  font-family: monospace;
}

.creamPreTab4 {
	tab-size: 4;
	background-color: #fffae6;
	/* word-break: normal !important;
	white-space: nowrap; */
	white-space: pre-wrap; 
}

.java-comments {
	font-style: italic;
	color: green;
	word-break: normal;
}

.btn .badge {
  top: 0 !important;
}

.showOnHover {
	opacity: 0.6;
}

.showOnHover:hover  {
	opacity: 1;
}

.javaDocLink {
    color: blue !important;
    opacity : 0.9;
    text-decoration: none;
    margin: 10px 0 10px 0 !important;
}
.javaDocLink:hover, .javaDocLink:focus {
    opacity : 1;
    text-decoration: underline !important;
    cursor: pointer;
}
.javaDocLink:focus {
    outline: thin dotted;
    outline-offset: -2px;
}

.ctQuestionTextNote {
	/*
	* This is used to identify special notes inside 
	* the questionText which is displayed to user in yellow color. 
	*/
	background-color: #e7f3fe; 
	border-left: 6px solid #2196F3; 
	margin:15px 0; 
	padding:10px; 
	display:inline-block;
}

.jqueryUIPopupDialog{
	z-index: 1060 !important; 
} 

.buyBtn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
    font-family: Arial, serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
}

.buyBtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.taf-square-img {
    width: 0 !important;
  }

@media (max-width: 767px) {
  .taf-square-img {
    width: 45% !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .taf-square-img {
    width: 50% !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .taf-square-img {
    width: 60% !important;
  }
}
@media (min-width: 1200px) {
  .taf-square-img {
    width: 75% !important;
  }
}

.ct-otp-pulse {
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 0 0 rgba(15, 60, 232, 0.9);
	animation: ct-otp-pulse 1.5s infinite;
}

.ct-otp-pulse:hover {
	animation: none;
}

@-webkit-keyframes ct-otp-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(15, 60, 232, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(15, 60, 232, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(15, 60, 232, 0);
  }
}

@keyframes ct-otp-pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(15, 60, 232, 0.4);
    box-shadow: 0 0 0 0 rgba(15, 60, 232, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(15, 60, 232, 0);
      box-shadow: 0 0 0 10px rgba(15, 60, 232, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(15, 60, 232, 0);
      box-shadow: 0 0 0 0 rgba(15, 60, 232, 0);
  }
}

@media only print {
		.exclude-lab-print {
			display: none;
		}
}

@-webkit-keyframes ct-phone-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(15, 60, 232, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(15, 60, 232, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(15, 60, 232, 0);
  }
}
@keyframes ct-phone-pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(15, 60, 232, 0.4);
    box-shadow: 0 0 0 0 rgba(15, 60, 232, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(15, 60, 232, 0);
      box-shadow: 0 0 0 10px rgba(15, 60, 232, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(15, 60, 232, 0);
      box-shadow: 0 0 0 0 rgba(15, 60, 232, 0);
  }
}

.ql-indent-1 {
    padding-left: 2.5em;
    display: table;
}

.ql-indent-2 {
    padding-left: 5em;
    display: table;
}

.ql-indent-3 {
    padding-left: 7.5em;
    display: table;
}

.margin10px {
    margin: 10px;
}

.test-cases-danger {
    background-color: #f2dede;
}

.test-cases-success {
    background-color: #dff0d8;
}

.ajs-dialog {
    border: 2px solid black;
}

.ajs-buttons .ajs-ok {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.ajs-buttons .ajs-cancel {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.numpad button > span {
    font-family: monospace;
}

.simpleBtnForGI {
    background: url(/img/questions-sprite.png) no-repeat;
    text-align: center;
}

.gate-instructions-btns-info .answeredAndMarkForReview {
    background-position: -9px -87px;
    float: left;
    height: 29px;
    line-height: 15px;
    margin-right: 10px;
    width: 28px;
    color: #fff;
    padding-top: 5px;
}

.gate-instructions-btns-info .markForReview {
    background-position: -75px -54px;
    float: left;
    height: 28px;
    line-height: 18px;
    margin-right: 10px;
    width: 28px;
    color: #fff;
    padding-top: 5px;
}

.gate-instructions-btns-info .notVisitedQ {
    background-position: -107px -56px;
    float: left;
    height: 26px;
    line-height: 21px;
    margin-right: 10px;
    width: 29px;
    color: #000;
    padding-top: 2px;
}

.gate-instructions-btns-info .notAnsweredQ {
    background-position: -42px -56px;
    float: left;
    height: 26px;
    line-height: 22px;
    margin-right: 10px;
    width: 29px;
    color: #fff;
}

.gate-instructions-btns-info .answeredQ {
    background-position: -7px -55px;
    float: left;
    height: 26px;
    line-height: 20px;
    margin-right: 10px;
    width: 29px;
    color: #fff;
    padding-top: 3px;
}

.gate-scroll-arrow {
    z-index: 9999 !important;
    border: 1px solid;
    cursor: pointer;
    border-radius: 50%;
    padding: 1px 6px;
    background: #2a80b9;
    color: white;
}
